<h1>{project.name}</h1>
<hr />
<h6>{project.type}</h6>
<h3> Beschreibung </h3>
<p>{project.description}</p>

<f:if condition="<f:count>{project.team}</f:count>">
    <f:then>
	    <h3> Teammitglieder </h3>
        <ol>
            <f:for each="{project.team}" as="student">
                <li>{student.nameandclass}</li>
            </f:for>
        </ol>
	</f:then>
</f:if>

<f:comment>Wenn ein Client Vorhanden ist und Er Auftraggeber oder Lehrer ist</f:comment>
<f:security.ifHasRole role="BBS.ConnectYou:Teacher">
        <f:if condition="{project.client}">
            <f:then>
                <h3> Auftraggeber </h3>
                <ul>
                    <li>{project.client.name}</li>
                    <li>{project.client.plz} {project.client.city}</li>
                    <li>{project.client.street} {project.client.streetnumber}</li>
                    <li>E-Mail: {project.client.email}</li>
                    <li>Tel.: {project.client.telephone}</li>
                </ul>
            </f:then>
        </f:if>
</f:security.ifHasRole>

<f:comment>Prüft wenn der Nutzer ein Student ist ob er teil des Projektes ist!</f:comment>
<f:security.ifHasRole role="BBS.ConnectYou:Student">
    <f:if condition="{project.name} == {userproject.name}">
        <f:if condition="{project.client}">
            <f:then>
            <h3> Auftraggeber </h3>
            <ul>
                <li>{project.client.name}</li>
                <li>{project.client.plz} {project.client.city}</li>
                <li>{project.client.street} {project.client.streetnumber}</li>
                <li>E-Mail: {project.client.email}</li>
                <li>Tel.: {project.client.telephone}</li>
            </ul>
            </f:then>
        </f:if>
    </f:if>
</f:security.ifHasRole>

