/*****************
* Für welche Bereiche: Für das genieren der Auftraggeber Liste
* Notiz:
* Author(en): Dominik Falkner
*****************/
/************
* Allgemein *
************/
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
body{
    font-family: 'Lato';
}
header{
    margin-bottom: 1em;
}

#wrapper{
    width:80%;
    margin: 0 auto;
}

#margin {
    margin-top:2em;
}

table,th,td
{
    border:	1px solid black;
    border-collapse:collapse;
    margin-left: auto;
    margin-right:auto;
}


th,td
{
    padding:5px;
}
th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #3498db;
    color: #ffffff;
}

label{
    margin-left: 500px;
}

hr {
    border: dotted 1px #666666;
    margin: 0 auto;
}