<f:layout name="Marketplace" />

<f:section name="Title">Edit project "{project.name}"</f:section>

<f:section name="Content">
    <div id="projects">
        <div id="wrapper">
            <h1>Projekt "{project.name}" bearbeiten</h1>
            <f:form action="update" name="project" object="{project}" >
                <f:render partial="Marketplace/FormFields" arguments="{_all}" />
                <f:form.submit value="Speichern" class="btn btn-large btn-block btn-primary"/>
            </f:form>
        </div>
    </div>
</f:section>