<f:layout name="Marketplace" />

<f:section name="Content">

    <div id="projectnavigation">
        <f:security.ifHasRole role="BBS.ConnectYou:Client">
            <f:then>
                <f:link.action action="new"><img src="Resources/Public/images/marketplace/project_plus.png"  id="project_plus" /> Projekt hinzufügen</f:link.action>
            </f:then>
            <f:else>
                <f:security.ifHasRole role="BBS.ConnectYou:Teacher">
                    <f:then>
                        <f:link.action action="new"><img src="Resources/Public/images/marketplace/project_plus.png"  id="project_plus" /> Projekt hinzufügen</f:link.action>
                    </f:then>
                    <f:else>
                        <a id="project_plus"></a>
                    </f:else>
                </f:security.ifHasRole>
            </f:else>
        </f:security.ifHasRole>
    </div>
    <hr>
    <f:comment>Die Projekte</f:comment>
   <f:if condition="<f:count>{projects}</f:count>">
        <f:then>
            <div id="projects">
                <f:flashMessages />
                <f:for each="{projects}" as="project">
                    <f:link.action action="show" arguments="{project : project}">
                        <div class="col-md-2 col-md-offset-1">

                            <img src="Resources/Public/images/marketplace/MP_Projectplaceholder.png" alt="projectIMG" class="list_img"/>
                            <h1>{project.name}</h1>
                            <hr />
                            <h6>{project.type}</h6>
                            <p><f:format.crop maxCharacters="229">{project.description}...</f:format.crop></p>
                            <p><f:link.action action="show" arguments="{project : project}"> >> Mehr</f:link.action></p>

                            <f:security.ifHasRole role="BBS.ConnectYou:Teacher">
                                <f:then>
                                    <f:link.action id="delete" action="delete" arguments="{project : project}">
                                        <img src="Resources/Public/images/marketplace/Delete.png"  alt="Löschen" />
                                    </f:link.action>

                                    <f:link.action id="edit" action="edit" arguments="{project : project}">
                                        <img src="Resources/Public/images/marketplace/Edit.png"  alt="Editieren" />
                                    </f:link.action>

                                    <f:link.action id="archive" action="archiveproject" arguments="{project : project}">
                                        <img src="Resources/Public/images/marketplace/Archive.png"  alt="Archivieren" />
                                    </f:link.action>
                                </f:then>
                            </f:security.ifHasRole>

                        </div>
                    </f:link.action>
                </f:for>

                <f:for each="{archivedProjects}" as="project">
                    <f:link.action action="show" arguments="{project : project}">
                        <div class="col-md-2 col-md-offset-1" style="display: none;" data-year="{project.year}">

                            <img src="Resources/Public/images/marketplace/MP_Projectplaceholder.png" alt="projectIMG" class="list_img" />
                            <h1>{project.name}</h1>
                            <hr />
                            <h6>{project.type}</h6>
                            <p><f:format.crop maxCharacters="229">{project.description}...</f:format.crop></p>
                            <p><f:link.action action="show" arguments="{project : project}"> >> Mehr</f:link.action></p>

                            <f:security.ifHasRole role="BBS.ConnectYou:Teacher">
                                <f:then>
                                    <f:link.action id="delete" action="delete" arguments="{project : project}">
                                        <img src="Resources/Public/images/marketplace/Delete.png"  alt="Löschen" />
                                    </f:link.action>

                                    <f:link.action id="edit" action="edit" arguments="{project : project}">
                                        <img src="Resources/Public/images/marketplace/Edit.png"  alt="Editieren" />
                                    </f:link.action>

                                    <f:link.action id="archive" action="archiveproject" arguments="{project : project}">
                                        <img src="Resources/Public/images/marketplace/Archive.png"  alt="Archivieren" />
                                    </f:link.action>
                                </f:then>
                            </f:security.ifHasRole>

                        </div>
                    </f:link.action>
                </f:for>

                <f:security.ifHasRole role="BBS.ConnectYou:Teacher">
                    <div id="more">
                        <p>Archivierte Projekte Laden</p>
                    </div>
                </f:security.ifHasRole>
            </div>

        </f:then>
        <f:else>

            <p>Noch keine Projekte vorhanden</p>

        </f:else>
   </f:if>


</f:section>