<f:layout name="Marketplace" />

<f:section name="Content">

    <div id="projectnavigation">
        <f:security.ifHasRole role="BBS.ConnectYou:Client">
            <f:then>
                <f:link.action action="new"><img src="Resources/Public/images/marketplace/project_plus.png"  id="project_plus" /> Projekt hinzufügen</f:link.action>
            </f:then>
            <f:else>
                <f:security.ifHasRole role="BBS.ConnectYou:Teacher">
                    <f:then>
                        <f:link.action action="new"><img src="Resources/Public/images/marketplace/project_plus.png"  id="project_plus" /> Projekt hinzufügen</f:link.action>
                    </f:then>
                    <f:else>
                        <a id="project_plus"></a>
                    </f:else>
                </f:security.ifHasRole>
            </f:else>
        </f:security.ifHasRole>
    </div>
    <hr>

    <f:link.action action="index"><p class="btn btn-default back-button">Zurück zum Market</p></f:link.action>
    <div id="wrapper">
        <h1>Neues Projekt</h1>
        <f:form action="create"  name="newProject" object="{newProject}" >
            <label for="name">Name</label><br />
            <f:form.textfield property="name" /><br />

            <label for="description">Beschreibung</label><br />
            <f:form.textarea property="description" /><br />

            <label for="type">Typ</label><br />
            <f:form.textfield property="type" /><br />

            <f:form.textfield type="hidden" property="archived" value="0" />

            <f:comment>Wenn der Nutzer ein Client ist wird festgesetz dass er es erstellt hat</f:comment>
            <f:security.ifHasRole role="BBS.ConnectYou:Client">
                <f:form.textfield type="hidden" property="client" value="{client}" />
            </f:security.ifHasRole>


            <f:form.submit value="Erstellen" class="btn btn-block btn-primary"/>
        </f:form>
    </div>

</f:section>