<f:layout name="Marketplace" />

<f:section name="Title">Show project"{project.name}"</f:section>



<f:section name="Content">
    <f:flashMessages />
    <f:link.action action="index"><p class="btn btn-default back-button">Zurück zum Market</p></f:link.action>
    <div id="projects">
        <div id="show">
            <!--<img src="http://placehold.it/100x100" alt="projectIMG" />-->

            <f:render partial="Marketplace/Properties" arguments="{project:project}" />

            <f:link.action action="index">Zurück</f:link.action><br />
            <f:security.ifHasRole role="BBS.ConnectYou:Teacher">
                <f:then>
                    <f:link.action action="index" controller="Pinboard" arguments="{project : project}">zur Pinnwand</f:link.action>
                </f:then>
            </f:security.ifHasRole>
        </div>
    </div>
</f:section>