<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <f:base />

    <f:comment>FAVICON</f:comment>
    <link rel="shortcut icon" href="Resources/Public/images/general/favicon.ico" type="image/x-icon" />

    <f:comment>Die Styles für den Login incl. den Standarts</f:comment>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="Resources/Public/styles/general/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="Resources/Public/styles/general/bootstrap-responsive.css" type="text/css" rel="stylesheet" />
    <link href="Resources/Public/styles/general/flat-ui.css" type="text/css" rel="stylesheet" />
    <link href="Resources/Public/styles/general/flashMessage.css" type="text/css" rel="stylesheet" />
    <link href="Resources/Public/styles/admin.css" type="text/css" rel="stylesheet" />
    <link href="Resources/Public/styles/general/nav.css" type="text/css" rel="stylesheet" />

    <f:comment>Die Script inkl. Jquery</f:comment>
    <script src="Resources/Public/js/general/jquery.js" type="text/javascript"></script>
    <script src="Resources/Public/js/general/flashMessage.js" type="text/javascript"></script>
</head>
<body>
<f:render partial="general/nav" arguments="{username : username, userproject : userproject, titel : 'Admin'}"/>
<f:flashMessages class="flashmessages" />

<f:render section="Content" />
</body>
</html>