.flashmessages {
    list-style: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}
.flashmessages-error {
    background-color: rgba(217,83,79, 0.5 );
}

.flashmessages-ok {
    background-color: rgba(92,184,93, 0.6);

}
.flashmessages li {
    padding: 0.7em;
    margin: 5px;
    border-radius: 3px;
}

