/*****************
 * Top-Header//Diksn
*****************/




#inner_wrapper {
    margin: 0;
    padding-top: 0.4%;
    position:relative;
    width:100%;
    height: 3em;
    overflow:visible;
    background-image: url("../../images/backgrounds/tweed.png");
    background-repeat:repeat;
}

#leiste {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 6px;
    margin-top: 4px;
    background-color: #226999;
}

#titlefield {
    position: relative;
    margin-top: 4px;
}

#blind_fleck {
    position: relative;
    width: 772px;
    height: 6px;
    margin: 0 auto;
    background-image: url("../../images/backgrounds/tweed.png");
    background-repeat:repeat;
}

#wrapper_header {
    position:absolute;
    width:100%;
    z-index:3;
    text-align:center;
}



#logo {
    font-family: 'Lato' !important;
    position: relative;
    margin-left: 0.3%;
    height:100%;
    width:auto;
    float: left;
    z-index:4;
}


#logo img {
    width:100%;
    float:left;
}
#logo p {
    font-family: 'Lato' !important;
    position:relative;
    text-align:center;
    margin-top: 6.5%;
    margin-left: 5px;
    float:right;
    font-size: 16pt;
    font-weight: 200;
    color:#FFF;
}


#sidemenuright {
    position:relative;
    height:100%;
    width:auto;
    margin-right: 0.5%;
    float:right;
    text-align:center;
    z-index:4;
}

#sidemenuright a {
    text-decoration:none;
    font-size: 12pt;
    font-weight: 100;
    color:#FFF;
}

.cat1 ul li a:hover{
    background: rgba(41, 128, 185, 1) !important;
}

.cat3 ul li a:hover  {
    background: rgba(41, 128, 185, 1) !important;
}


/*****************
 * Sidemenü
******************/

#logo ul li:hover > ul, #sidemenuright ul li:hover > ul{
    visibility: visible;
}

#logo ul li ul{
    margin-top: 2.6em;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

#sidemenuright ul li ul{
    text-align: left;
    visibility: hidden;
    position: absolute;
    padding-right: 0px;
    margin-top: 0.17em;
}

#logo ul li ul li, #sidemenuright ul li ul li{
    float: none;
}

#logo ul li ul li a:hover, #sidemenuright ul li ul li a:hover{
    color: white;
}


#logo ul li, #sidemenuright ul li{
    list-style: none;
    float:left;
}

#sidemenuright ul li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.5em 1.8em 0.4em 1em;
}

#logo ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.8em 0.9em 0.8em 1em;
}

#logo ul li.cat1{
    width: 50%;
}

.cat3:hover{
    transition: ease linear -0.3s;
}

#logo ul li.cat1:hover {
    transition: ease linear -0.3s;
}

#logo ul li.cat1:hover > ul li a {
    background: rgba(41, 128, 185, .5);
}

#logo ul li.cat1:hover > a{
    background: rgba(41, 128, 185, .5);
}

#logo ul li.cat1:hover >  ul li {
    background: rgba(41, 128, 185, .5);
}

#sidemenuright .cat3:hover > ul li a {
    background: rgba(41, 128, 185, .5);
}

#sidemenuright .cat3:hover > ul li {
    background: rgba(41, 128, 185, .5);
}

#ullogopinnwand {
    margin-top: -2.8em !important;
    margin-left: 7.4em !important;
    width: auto;
}

#ullogopinnwand li {
    border-top: 1px solid white !important;
    border-left: 1px solid white;
}

.cat1 ul li{
    border-top: 1px solid white;
}

.cat3 ul li{
    border-top: 1px solid white;
}

#username:hover{
    background-color: transparent !important;
}