/*****************
 * Sidemenü
******************/

#logo ul li:hover > ul, #sidemenuright ul li:hover > ul{
    visibility: visible;
}

#logo ul li ul{
    margin-top: 14.9%;
    margin-left: -2%;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

#sidemenuright ul li ul{
    width: 69%;
    text-align: left;
    visibility: hidden;
    position: absolute;
    padding-right:0px;
}

#logo ul li ul li, #sidemenuright ul li ul li{
    float: none;
}

#logo ul li ul li a:hover, #sidemenuright ul li ul li a:hover{
    color: white;
}

#logo ul li, #sidemenuright ul li{
    list-style: none;
    float:left;
}

#sidemenuright ul li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.9em 1.8em 0.7em 2.3em;
}

#logo ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.9em 1.8em 0.8em 2.3em;
}

#logo ul li.cat1:hover > ul li a {
    background-image: url("../../images/backgrounds/pinboard.png");

    transition: background-image 1s ease-in;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    box-shadow: 2px 2px 3px rgba(0,0,0,.6);
}
#sidemenuright ul li.cat3:hover > ul li a   {
    background-image: url("../../images/backgrounds/pinboard.png");

    transition: background-image 1s ease-in;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    box-shadow: 2px 2px 3px rgba(0,0,0,.6);
}
