<f:layout name="Admin" />

<f:section name="Content">
    <hr />

    <div id="adminpanel">
        <div id="DB_form">
                <h1>Datenbank</h1>
                <f:form controller="Admin" action="exportprojects" method="post" name="export">
                    <label for="host">Host</label><br />
                    <f:form.textfield name="host" /><br />

                    <label for="user">DB Benutzer</label><br />

                    <f:form.textfield name="user" /><br />
                    <label for="pass">DB Passwort</label><br />

                    <f:form.textfield name="pass" type="password"/><br />
                    <label for="dbname">Datenbankname</label><br />

                    <f:form.textfield name="dbname" /><br />
                    <label for="tbname">Tabellen Name</label><br />

                    <f:form.textfield name="tbname" /><br />
                    <label for="projects">Projekte</label><br />
                    <f:form.select class="chosen-multiple" name="projects" options="{projects}" multiple="multiple" optionValueField="{project}" optionLabelField="name"/><br />
                    <br />
                    <f:form.submit value="In DB speichern" class="btn-primary btn"/>
                </f:form>
        </div>

            <div id="wrapper">
                <div id="pdfs">
                    <h1>Ausdrucke</h1>
                    <ul>
                        <li><f:link.action action="activeprojectspdf">Liste aller aktiven Projekte</f:link.action></li>
                        <li><f:link.action action="archivedprojectspdf">Liste aller archivierten Projekte</f:link.action></li>
                        <li><f:link.action action="clientspdf">Liste aller Auftraggeber</f:link.action></li>
                    </ul>
                </div>
            </div>
    </div>

</f:section>