
/*****************
 * Allgemein
*****************/
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/backgrounds/debut_light.png");
    background-repeat: repeat;
}
ul {
    margin: 0;
    padding: 0;
}

/**************
 * FORM
 *************/

#container {
    overflow:hidden;
    position:relative;
    width: 66%;
    margin: 0 auto;
    margin-top: 1em;
    border-left: 1px dotted #666666;
    border-right: 1px dotted #666666;
    min-height:85%;
}

#settings {
    overflow:scroll;
    height:auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*
#daten label {
font-weight:200 !important;
margin-right:1em;
margin-left:3em !important;

}
*/

label {
    font-weight:200 !important;
    margin-right:1em;
}
#daten input {
    margin-left:1em !important;
    margin-right:1em;

}




#settingsoption a{
    color: grey;
    font-size: 15px;
    text-decoration:none;
    text-align:center;
}

#settingsoption {
    margin-left:20%;
    margin-top: 1em;
}

hr {
    border: none;
    margin: 0 auto;
    width:60%;
    margin-top: 0.5%;
    border-top: 1px dotted #666666;
}

#firmenname {
    margin: 0 auto;
    font-size: 20pt;
    margin-top:1em;
    margin-bottom: 1em;
    border-spacing: 20px;
}

#daten {
    margin: 0 auto;
    border-spacing: 10px;
}
input[name=companyName] {
    height: 20pt;
}

input[name=submit] {
    padding: 0px;
    border-radius: 0px;
    width:192px !important;
    margin-left: auto;
    padding: 6px 12px !important;
    margin-top:1em;
}

#wrapper_settings {
    width:100%;
    margin-left:-2%;
}

#projectnavigation {
    position: relative;
    margin-left: 20%;
    margin-top: 3.5%;
    margin-bottom: -2.5%;
    z-index: 4;
    width: 60%;
    min-height: 15px;
}