
/*****************
 * Allgemein
*****************/
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/backgrounds/debut_light.png");
    background-repeat: repeat;
}
ul {
    margin: 0;
    padding: 0;
}

/*****************
 * Top-Header//Diksn
*****************/

#head {
    margin: 0;
    padding-top: 0.4%;
    position:relative;
    width:100%;
    height: 4em;
    overflow:visible;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    background-image: url("../images/backgrounds/pinboard.png");
    background-repeat:repeat;
}

#leiste {
    position:relative;
    width: 100%;
    height: 4px;
    background-color: #3498db;
    -webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    -moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    box-shadow: 3px 4px 7px rgba(0,0,0,.7);
}

#titlefield {
    position: relative;
    margin: 0 auto;
    width: 303px;
    height: 1.2em;

    background-color: #3498db;
    -webkit-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    -moz-box-shadow: 3px 4px 7px rgba(0,0,0,.7);
    box-shadow: 3px 4px 7px rgba(0,0,0,.7);

    text-align:center;
    color:#FFF;
    font-family: 'Lato';
    font-size: 35pt;
    font-weight: 400;
}



#logo {
    font-family: 'Lato' !important;
    position: relative;
    margin-left: 0.3%;
    height:100%;
    width:auto;
    float: left;
}


#logo img {
    width:60%;
    height: 50%;
    float:left;
}
#logo p {
    font-family: 'Lato' !important;
    position:relative;
    text-align:center;
    margin-top: 6.5%;
    margin-left: 5px;
    float:right;
    font-size: 16pt;
    font-weight: 200;
    color:#FFF;
}


#sidemenuright {
    position:relative;
    height:100%;
    width:auto;
    margin-right: 1%;
    float:right;
    text-align:center;
}

#sidemenuright a {
    text-decoration:none;
    font-size: 12pt;
    font-weight: 100;
    color:#FFF;
}

#acc_logout {
    margin-left:10px;
}

/**************
 * FORM
 *************/

form{
    margin-top: 5em;
}

input[type="text"], input[type="password"]{
    height:33px;
}