/*****************
* CSS-Dateiname: marketplace.css
 
* Für welche Bereiche: Marketplace
 
* Notiz:
 
* Author(en): Dorfer Valentin, Dikany Lucas, Falkner Dominik, Peneder Martin
 
* Version: 28.01.2014
*****************/

/*****************
* Allgemein
*****************/
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body, html {
    margin: 0;
    padding: 0;
    background-image:url(../images/backgrounds/debut_light.png);
    background-repeat:repeat;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 0.5em;
}

/*****************
* Adminpanel // Diksn
*****************/
#adminpanel{
    overflow:hidden;
    position:relative;
    width: 66%;
    margin: 0 auto;
    margin-top: 3em;
    border-left: 1px dotted #666666;
    border-right: 1px dotted #666666;
    padding-left: 0.5%;
    min-height:100%;
    text-align:center;
}

input[type=submit]{
    border:0px;
}

input {
    margin-bottom:1em;
    border-radius: 0px !important;
}

label{
    font-weight:400;
}



hr {
    border: none;
    margin: 0 auto;
    width:60%;
    margin-top: 3%;
    border-top: 1px dotted #666666;
}

h1 {
    font-weight:100;
}

input{
    width: 60%;
}

select{
    width: 60%;
}

#DB_form{
    width:50%;
    float:left;
    margin-right: 0;
}

#wrapper{
    float: right;
    height: 100%;
    width: 50%;
}



#pdfs ul, #pdfs h1 {
    list-style-type:none;
    font-size: 16;
    cursor:pointer;
    text-align: center;
    margin-right: 20%;

}

#pdfs h1{
    padding-bottom: 0;
}

a:hover {
    background-color: rgba(41, 128, 185, 1);
}

/*****************
* Ausdrucke // Falkner
*****************/

#pdfs li{
    margin-bottom: 2.4em;

}
#pdfs a{
    color: #fff;
    width: 70%;
}