
/*****************
 * Allgemein
*****************/
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/backgrounds/debut_light.png");
    background-repeat: repeat;
}
ul {
    margin: 0;
    padding: 0;
}

/**************
 * Allgemein
 *************/

#wrapper{
    width: 60%;
    margin: auto;
    min-height: 100%;
    margin-top: 5%;
}

#wrapper ul{
    margin-left: 25%;
}


#pdfs{
    margin-bottom: 5%;
}

#db{
    border-top: 1px solid black
}

/**************
 * FORM
 *************/

form{
    margin-left: 45%;
    margin-top: 5em;
    min-height: 100%;
}

input[type="text"], input[type="password"]{
    height:33px;
}

select{
    width: 25%;
    min-height: 12px;
}