@charset "UTF-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
    margin: 0;
    padding: 0;
}


body {
    background-image:url(../../images/backgrounds/debut_light.png);
    background-repeat:repeat;
}

/*****************
* Content - Diksn
******************/



#bild_a {
    position: absolute;
    left: 50%;
    width: 30%;
    margin-top:3em;
    margin-left:-15%;
    clip:rect(0 0px auto 0);
    transition: ease 500ms;
}

#bild_b {
    position: relative;
    left: 50%;
    width: 30%;
    margin-left:-15%;
    margin-top:3em;
}

form[name=reg] {
    position:relative;
    width:50%;
    height:inherit;
    margin-top: 1em;
}


.wrapper{
    clear: both;
    float: right;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 2px solid lightgray;
}

#main {
    float:right;
    clear:both;
}

#main input {
    margin-left: 3em;
}

#bilder_content{
    width: 100%;
    height: auto;
}

input[type="text"]{
    margin-right:1em;
}

form h2 {
    float:right;
    font-weight:200;
    margin-top:0px;
}

#student {
    position: absolute;
    width: 50%;
    margin-left: 50%;
    padding-left: 1em;
}

#student h2 {
    font-weight:100;
    opacity:0.5;
    margin-top:0px;
}

#student p {
    font-weight:100;
    opacity:0.5;
}

label {
    font-weight:100;
}

#tables {
    overflow:hidden;
}

/***
 * Absolute
 ***/
.back-button{
    position: fixed;
    top: 3%;
    left: 2%;
    z-index: 10;
}

.back-button a{
    color: white;
}